.videoTitle {
    font-size: 36px;
    font-weight: bold;
}

.videoButtonDiv {
    display: flex;
    gap: 20px;
    margin-top: 30px;   
}

.videoButton {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transform: 0.4s;
    &:hover {
        border: none;
        background-color: transparent;
    }
    &:disabled{
        border: none;
        padding: 0;
        background-color: transparent;
    }
    &:active {
        outline: none;
        border: none;
        box-shadow: none;
    }
    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}

.arrowImg {
    width: 20px;
    transition: 0.4s;
    &:hover {
        transform: scale(1.2);
    }
}

.player {
    max-width: 100%;
}

@media(max-width: 767px) {
    .videoTitle {
        font-size: 25px;
    }
}

@media(max-width: 492px) {
    .videoTitle {
        font-size: 18px;
        text-align: center;
        padding: 0px 10px;
        word-wrap: break-word;
    }
    .player {
        margin-top: -60px;
    }
}

